.container{
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 90px auto;
  width: 50%;
  padding: 30px;
  background-color: mintcream;
}
.btn {
  padding: 7px 9px;
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: red;
}
